@import "veriables";
@import "fonts";
@import "mobile";
@import "header";
@import "banner";
@import "mission";
@import "products";
@import "monitoring";
@import "custom_designs";
@import "roadmap";
@import "news";
@import "footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}